/* 폰트불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400&display=swap');

body {
  width: 1920px;
  background-color: #0F1842;
  overflow-x: hidden;
}

/* 헤더 시작 */
header {
  position: fixed;
  font-family: 'Playfair Display', serif;
  color: white;
  width: 100%;
}

header>.wrap {
  /* background-color: pink; */
  height: 81px;
  margin: 0 20px;
  /* background-color: pink; */
}

header>.wrap>.logo {
  font-weight: 900;
  font-size: 27px;
  line-height: 87.19%;
  /* background-color: paleturquoise; */
  position: relative;
}

header>.wrap>.menu-space {
  flex-grow: 1;
}

header>.wrap>.menu-box {
  font-size: 18px;
  margin-right: 150px;
}

header>.wrap>.menu-box>.menu {
  width: 409px;
}

header>.wrap>.link {
  font-family: Roboto;
  font-weight: 300;
  font-size: 13.4759px;
  letter-spacing: 0.375em;
  position: relative;
}

header>.wrap>.link>ul>li:first-child {
  margin-right: 49px;
}

/* 헤더 끝 */

/* 헤더 메뉴 호버 효과 시작 */
header>.wrap li>a {
  position: relative;
  display: block;
}

header li a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: width .3s;
}

header li:hover a::before {
  width: 100%;
}

/* 헤더 메뉴 호버 효과 끝 */

/* 히어로 섹션 시작 */
.hero {
  width: 100%;
  position: relative;
  z-index: -1;
}

.hero_txt {
  position: absolute;
  left: 50%;
  bottom: 200px;
  transform: translateX(-50%);
  color: #E7454A;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 195px;
}

img.bg-img {
  display: block;
  width: 100%;
  height: 1046px;
}

/* 히어로 섹션 끝 */

.con {
  width: 1320px;
  margin: 0 auto;
}

/* 오버뷰 섹선 시작 */
.overview {
  margin-top: 303px;
}

.overview>.con>h1 {
  text-align: center;
  font-family: Playfair Display;
  font-weight: normal;
  font-size: 70px;
  line-height: 93px;
  color: #A7D4DE;
  margin-bottom: 158px;
}


.overview>.con>.content_txt>.title>span {
  display: inline-block;
  width: 422px;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 29.1892px;
  line-height: 185%;
  text-align: justify;
  letter-spacing: 0.150em;
  color: #FFFFFF;
}

.overview>.con>.content_txt>.content>span {
  display: block;
  font-size: 18px;
  line-height: 185%;
  text-align: justify;
  letter-spacing: -0.065em;
  color: #FFFFFF;
  /* border: 1px solid red; */
}

.overview>.con>.content_txt>.content>span:nth-of-type(1) {
  margin-bottom: 35px;
}

.overview>.con>.keyword {
  width: 100%;
  margin-top: 125px;
}

.overview>.con>.keyword>.keyword-txt>span {
  display: block;
  text-align: center;
}

.overview>.con>.keyword>.keyword-txt>span:nth-of-type(1) {
  font-family: Playfair Display;
  font-size: 26.7767px;
  line-height: 36px;
  color: #FFFFFF;
}

.overview>.con>.keyword>.keyword-txt>span:nth-of-type(2) {
  font-family: Noto Sans KR;
  font-weight: 100;
  font-size: 16.1835px;
  line-height: 23px;
  color: #FFFFFF;
  margin-top: 13px;
}

.overview>.con>.keyword>.keyword-txt>span:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 365px;
  height: 3px;
  background-color: white;
  margin-top: 13px;
}

/* 오버뷰 섹선 끝 */

/* 리드모어 섹션 시작 */
.readMore {
  margin-top: 360px;
}

.readMore>.con>h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 53.6429px;
  line-height: 72px;
  text-align: justify;
  letter-spacing: 0.275em;
  color: #E7454A;
  margin-bottom:32px;
}

.readMore>.con>.content-box>.box__txt {
  position: relative;
} 

.readMore>.con>.content-box>.box__txt>span {
  display: block;
  font-family: Playfair Display;
  font-size: 22.0595px;
  line-height: 145%;
  text-align: justify;
  color: #FFFFFF;
  margin-bottom: 92px;
}

.readMore>.con>.content-box>.box__txt>div>span {
  display: block;
  width: 234px;
  font-family: Noto Sans KR;
  font-size: 16px;
  line-height: 29px;
  text-align: justify;
  color: #FFFFFF;
}

.readMore>.con>.content-box>.box__txt>div>span:nth-of-type(1) {
  margin-right:35px; 
}

.readMore>.con>.content-box>.box__txt>div::before {
  content: "";
  position: absolute;
  width: 505px;
  height: 1.5px;
  background-color: #fff;
  top:128px;
  left:0;
}

.readMore>.con>.content-box>.box__img {
  margin-left: 150px;
}

.readMore>.con>.content-box>.box__img>.img__ele_1 {
  position: relative;
}

.readMore>.con>.content-box>.box__img>.img__ele>span {
  display:block;
  font-family: Playfair Display;
  font-size: 22.0595px;
  line-height: 145%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.readMore>.con>.content-box>.box__img>.img__ele_1>.svgWrap {
  width: 265px;
  height: 343px;
  position: relative;
  bottom:0;
}

.readMore>.con>.content-box>.box__img>.img__ele_1>.svgWrap>svg.s1 {
  position: absolute;
  top:0;
  left:0;
  stroke-dasharray: 581.5153198242188;
  animation: svg 3s linear 1;
  z-index: 1;
}

.readMore>.con>.content-box>.box__img>.img__ele_1>.svgWrap>svg.s1>ellipse {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
}

.readMore>.con>.content-box>.box__img>.img__ele_1>.svgWrap>img.img {
  display:block;
  position: absolute;
  animation-name: img;
  animation-duration: 3s;
}

.readMore>.con>.content-box>.box__img>.img__ele_1>.svgWrap>img.img1 {
  top: 128.5px;
  left: 5.5px;
  z-index:10;
}

.readMore>.con>.content-box>.box__img>.img__ele_1>.svgWrap>img.img2 {
  top: 256.5px;
  left: 5.5px;
  z-index:10;
}

.readMore>.con>.content-box>.box__img>.img__ele_2>img {
  display: block;
  margin: 0 20px;
  margin-top: 210px;
}

.readMore>.con>.content-box>.box__img>.img__ele_3>span{
  display: block;
}

.readMore>.con>.content-box>.box__img>.img__ele_3>span:nth-of-type(1) {
  margin-top: 40px;
}


.readMore>.con>.content-box>.box__img>.img__ele_3>span:nth-of-type(2) {
  margin-top: 40px;
  margin-bottom: 30px;
}

.readMore>.con>.content-box>.box__img>.img__ele_3>img {
  display: block;
}

.readMore>.con>.content-box>.box__img>.img__ele_3>img:nth-of-type(3) {
  margin-top: -30px;
}

@keyframes img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes svg {
  0% {
    stroke-dashoffset:581.5153198242188; 
  }
  80% {
    stroke-dashoffset: 581.5153198242188
      90% {
        stroke-dashoffset: 0
    }
    100% {
      stroke-dashoffset: 0;
    }
  }


  /* 리드모어 섹션 끝*/