/* 폰트불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400&display=swap');

body {
  width: 1920px;
  height: 100vh;
  overflow: hidden;
  background-color: #0F1842;
  position: relative;
}

/* 헤더 시작 */
header {
  font-family: 'Playfair Display', serif;
  color: white;
}

header>.wrap {
  /* background-color: pink; */
  height: 110px;
  margin: 0 20px;
  margin-top: 29.5px;
  border-top: 1.5px solid #FFFFFF;
  border-bottom: 1.5px solid #FFFFFF;
}

header>.wrap>.logo {
  font-weight: 900;
  font-size: 27px;
  line-height: 87.19%;
  width: 280px;
  /* background-color: paleturquoise; */
  position: relative;
}

header>.wrap>.logo::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1.5px;
  height: 44px;
  background-color: white;
}

header>.wrap>.menu-box {
  font-size: 18px;
}

header>.wrap>.menu-box>.menu {
  /* background-color: teal; */
  width: 640px;
}

header>.wrap>.link {
  font-family: Roboto;
  font-weight: 300;
  font-size: 13.4759px;
  letter-spacing: 0.375em;
  width: 460px;
  position: relative;
}

header>.wrap>.link::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1.5px;
  height: 44px;
  background-color: white;
}

header>.wrap>.link>ul>li:first-child {
  margin-right: 49px;
}

/* 헤더 끝 */

/* 헤더 메뉴 호버 효과 시작 */
header>.wrap li>a {
  position: relative;
  display: block;
}

header li a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: white;
  transition: width .3s;
}

header li:hover a::before {
  width: 100%;
}

/* 헤더 메뉴 호버 효과 끝 */


/* 섹션 시작 */
section {
  /* background-color: mediumvioletred; */
  width: 100vw;
  height: calc(100vh - 139.5px);
  position: relative;
  font-family: 'Playfair Display', serif;
}

section>.bg-line {
  width: 100%;
  height: 100%;
  /* background-color: midnightblue; */
  position: absolute;
  top: 0;
  left: 0;
}

section>.bg-line>div {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

section>.bg-line>div:nth-of-type(1) {
  left: 25%;
}

section>.bg-line>div:nth-of-type(2) {
  left: 50%;
}

section>.bg-line>div:nth-of-type(3) {
  left: 75%;
}

section>.main_txt {
  position: absolute;
  top: 120px;
  left: 260px;
  color: #FF2E34;
  font-size: 226px;
  line-height: 87.19%;
  text-align: center;
}

section>.graphic1>img {
  position: absolute;
  top: 131px;
  right: 100px;
  width: 430px;
  z-index: 2;
}

section>.graphic1>img:nth-of-type(2) {
  z-index: 1;
}

section>.graphic2 {
  position: absolute;
  top: 563px;
  left: 347px;
  width: 1664.61px;
}

section>.graphic3>.line {
  position: absolute;
  top: 180px;
  left: 380px;
  z-index: -1;
  width: 674.56px;
  height: 248.62px;
  border: 2.27677px solid #5D669D;
  border-radius: 50%;
  transform: rotate(-27.53deg);
}

section>.graphic3>.circle {
  position: absolute;
  top: 112px;
  left: 876px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #5D669D;
}

section>.graphic4 {
  position: absolute;
  width: 111px;
  bottom: 90px;
  right: 590px;
  animation-name: around;
  animation-duration: 15s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}


section>.sub_txt {
  position: absolute;
  top: 50%;
  left: -80px;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.43em;
  font-size: 15px;
  transform: rotate(-90deg);
}

section>.info {
  position: absolute;
  font-family: Roboto;
  font-weight: 300;
  font-size: 13px;
  line-height: 250%;
  text-align: justify;
  letter-spacing: 0.225em;
  color: #FFFFFF;
}

section>.info1 {
  width: 227px;  
  height: 99px;
  top: 600px;
  left: 280px;
}

section>.info2 {
  width: 227px;  
  top: 600px;
  left: 551px;
}

section>.button {
  width: 250px;
  position: absolute;
  z-index: 100;
  top: 600px;
  left: 900px;
  transform: scale(1);
  transition: transform 0.5s;
}

section>.button:hover {
  transform: scale(0.99);
}

/* 섹션 끝 */