/* 폰트불러오기 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@100;300;400&display=swap");

body {
  width: 100vw;
  background-color: #0f1842;
  overflow-x: hidden;
}

/* 헤더 시작 */
header {
  position: fixed;
  font-family: "Playfair Display", serif;
  color: #fff;
  width: 100%;
}

header > .wrap {
  /* background-color: pink; */
  height: 81px;
  margin: 0 20px;
  /* background-color: pink; */
}

header > .wrap > .logo {
  font-weight: 900;
  font-size: 27px;
  line-height: 87.19%;
  /* background-color: paleturquoise; */
  position: relative;
}

header > .wrap > .menu-space {
  flex-grow: 1;
}

header > .wrap > .menu-box {
  font-size: 18px;
  margin-right: 150px;
}

header > .wrap > .menu-box > .menu {
  width: 409px;
}

header > .wrap > .link {
  font-family: Roboto;
  font-weight: 300;
  font-size: 13.4759px;
  letter-spacing: 0.375em;
  position: relative;
}

header > .wrap > .link > ul > li:first-child {
  margin-right: 49px;
}

/* 헤더 끝 */

/* 헤더 메뉴 호버 효과 시작 */
header > .wrap li > a {
  position: relative;
  display: block;
}

header li a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: #fff;
  transition: width 0.3s;
}

header li:hover a::before {
  width: 100%;
}

/* 헤더 메뉴 호버 효과 끝 */

/* 포트폴리오 탭메뉴 섹션 시작 */
[data-tb$="__body"] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.tb-active {
  position: static;
  visibility: visible;
  opacity: 1;
  color: rgba(255, 255, 255, 1);
}

.portfolio {
  height: 100vh;

}

.portfolio > .con {
  width: 1520px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: #fff;
}

.portfolio > .con > .box-1 {
  width: 100%;
/*   border: 1px solid red; */
}

.portfolio > .con > .box-1 > .head {
  position: relative;
  margin: 100px 0;
/*   border: 1px solid yellow; */
}

.portfolio > .con > .box-1 > .head::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -20px;
}

.portfolio > .con > .box-1 > .head > .txt-title {
  font-family: Playfair Display;
  font-size: 77px;
  color: #e7454a;
}

.portfolio > .con > .box-1 > .head > ul {
  align-items: flex-end;
  font-family: Playfair Display;
  font-size: 38px;
  color: rgba(255, 255, 255, 0.5);
}


.portfolio > .con > .box-1 > .head > ul > li > a {
  padding-bottom: 0;
}

.portfolio > .con > .box-1 > .body > ul > li {
  position: relative;
}

.body .swiper {
  width: 1360px;
  margin-top: 100px;
}

.body .swiper-slide {
  width: 400px;
  height: 600px;
  background-color: #dfdfdf;
}

.body .btn-wrap .btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translatey(-50%);
  z-index: 100;
}

.body .btn-wrap .btn-prev {
  left: -10px;
}

.body .btn-wrap .btn-next {
  right: -10px;
}

.body .btn-wrap .btn.swiper-button-disabled {
  opacity: 0.5;
}

.body .btn-wrap .btn > img {
  width: 25px;
  display: block;
  object-fit: cover;
}

.body .swiper .swiper-slide {
  background-size: cover;
  overflow: hidden;
}

.body .swiper .swiper-slide:hover > .pf-wrap {
  transform: translatey(0);
  opacity: 1;
  visibility: visible;
}

.body .swiper .swiper-slide > .pf-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  position: relative;
  opacity: 0;
  visibility: hidden;
  transform: translatey(10%);
  transition: opacity .5s, visibility .5s, transform .5s;
}

.body .swiper .swiper-slide > .pf-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.body .swiper .swiper-slide > .pf-wrap > .pf-txt-wrap {
  position: relative;
  z-index: 1;
  padding: 30px 0;
}

.body .swiper .swiper-slide > .pf-wrap > .pf-txt-wrap > .title {
  font-size: 1.3rem;
}

.body .swiper .swiper-slide > .pf-wrap > .pf-txt-wrap > .content {
  font-weight: 100;
}

.body .swiper .swiper-slide > .pf-wrap > .pf-btn-wrap {
  position: relative;
  z-index: 1;
}

.body .swiper .swiper-slide > .pf-wrap > .pf-btn-wrap > .btn {
  font-size: 9px;
  padding: 10px 30px;
  background-color: #ABB2DC;
  border-radius: 30px;
  margin: 0 5px;
}

.pf-1 {
  background-image: url(https://to2.kr/c41);
}

.pf-2 {
  background-image: url(https://images.unsplash.com/photo-1630053725487-4249990d4581?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2Mnx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}

.pf-3 {
  background-image: url(https://images.unsplash.com/photo-1630090220340-367fba0abb53?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2OXx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}

.pf-4 {
  background-image: url(https://images.unsplash.com/photo-1630150464124-c21b9ec743c9?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4M3x8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}

.pf-5 {
  background-image: url(https://images.unsplash.com/photo-1630067578186-ba03355fe605?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMjl8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}


/* 포트폴리오 탭메뉴 섹션 시작 */
